<a href="https://colab.research.google.com/github/hasnatosman/python_revise/blob/main/python_doc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Whetting Your Appetite

Python is simple to use, but it is a real programming language, offering much more structure and support for large programs than shell scripts or batch files can offer. On the other hand, Python also offers much more error checking than C, and, being a very-high-level language, it has high-level data types built in, such as flexible arrays and dictionaries.

# More Control Flow tools

4.1. if Statements

In [ ]:
x = int(input("Please enter an enteger: "))

if x < 0:
  x = 0
  print(" Negetive cnaged to Zero!")
elif x == 0:
  print('Zero')
elif x == 1:
  print('Single')
else:
  print('More')

Please enter an enteger: 44
More

4.2. for Statements

In [ ]:
words = ['cat', 'window', 'microsoft']
for word in words:
  print(word , len(word))

cat 3
window 6
microsoft 9

In [ ]:
users = {
    'hasnat': 'active',
    'khaled': 'inactive',
    'oalid' : 'active',
    'arif' : 'active',
    'kamrul' : 'inactive'
}

# strategy

for user, status in users.copy().items():
  if status == "inactive":
    del users[user]

#print(users)

active_users = {}

for user, status in users.items():
  if status == 'active':
    active_users[user] = status

print(active_users)

{'hasnat': 'active', 'oalid': 'active', 'arif': 'active'}

4.3. The `range()` Function

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
x = list(range(0,10))
print(x)
x = list(range(0,10,3))
print(x)
x = list(range(-10, -100, -30))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

To iterate over the indices of a sequence, you can combine `range()`and `len()` as follows:

In [ ]:
a = ['marry', 'has', 'a', 'little', 'lamb']
for i in range(len(a)):
  print(i, a[i], len(a[i]))

0 marry 5
1 has 3
2 a 1
3 little 6
4 lamb 4

In [ ]:
x = sum(range(1,10, 2))
print(x)

25

4.4. `break` and `continue` Statements

In [ ]:
for n in range(2,10):
  for x in range(2, n):
    if n % x == 0:
      print(f"{n} equals {x} * {n//x}")
      break

4 equals 2 * 2
6 equals 2 * 3
8 equals 2 * 4
9 equals 3 * 3

In [ ]:
for num in range(2,10):
  if num % 2 == 0:
    print(f"Found an even number {num}")
    continue
  print(f"Found an odd number {num}")

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

4.5. `else` Clauses on Loops

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3